@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
}

/* Remove default date input placeholder */
input[type="date"]::before {
  content: none;
}

/* Apply custom scrollbar style */
/* For the track */
::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar track */
  height: 3px; /* Height of the scrollbar track */
}

/* For the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Color of the scrollbar thumb */
  border-radius: 6.5px; /* Half of the width (or height) for a rounded thumb */
}

/* For the track when the thumb is being dragged */
::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Color when hovering over the thumb */
}
